/**
 * @author @PROJECT_CONTACT@
 * @brief @PROJECT_BRIEF@
 * @version @PROJECT_VERSION@
 * 
 * @copyright @PROJECT_COPYRIGHT@
 *
 */

#ifndef __MOTOI__APP_HPP
#define __MOTOI__APP_HPP

/*
	These values should be set within CMakeLists.txt
*/
namespace app
{
static unsigned int const version_major {@PROJECT_VERSION_MAJOR@};
static unsigned int const version_minor {@PROJECT_VERSION_MINOR@};
static unsigned int const version_patch {@PROJECT_VERSION_PATCH@};
static char const * version {"@PROJECT_VERSION@"};

static char const * name {"@PROJECT_NAME@"};
static char const * brief {"@PROJECT_BRIEF@"};
static char const * copyright {"@PROJECT_COPYRIGHT@"};
static char const * contact {"@PROJECT_CONTACT@"};
static char const * website {"@PROJECT_WEBSITE@"};
} // namespace app

#endif
